/*  Timeline styling */
body{
  margin:0;
  background: #2c2c2c;
}
.timeline{
  position:absolute;
  width: 100%;
  height: 1080px;
  overflow:hidden;
  top:0;
  left:0;
} 
.timeline-handle{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  font-size:0;
}
.timeline-handle.is-timeline-handle-animating{
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;

  -moz-transition: -moz-transform 300ms linear;
  -o-transition: -o-transform 300ms linear;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
}
.timeline-slide{
  position: relative;
  display: inline-block;
  height: 100%;
  background: #2c2c2c;
}
.timeline-slide-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.timeline-slide-image{
  position:absolute;
  display: block;
  width:101%;
  width:calc(100% + 2px);
  height: auto;
}
@media screen and (max-aspect-ratio: 1600/1066){
  .timeline-slide-image{
      height:101%;
      height:calc(100% + 2px);
      width: auto;
  }
}
.timeline-dragger{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -moz-transform:translate3d(-50%,-50%,0);
  -o-transform:translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform: translate3d(-50%,-50%,0);
}

.timeline-min .timeline-dragger-max,
.timeline-max .timeline-dragger-min {
/*  -moz-transition: -moz-transform 0.4s cubic-bezier(.7,0,.3,1);
  -o-transition: -o-transform 0.4s cubic-bezier(.7,0,.3,1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(.7,0,.3,1);
  transition: transform 0.4s cubic-bezier(.7,0,.3,1);*/
    -moz-transition: -moz-transform 300ms linear;
  -o-transition: -o-transform 300ms linear;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
}
.timeline-dragger-min .timeline-slide{
  cursor:pointer;
}

/*  Timeline controls styling */
#prev, #next, #toggle,#disable{
  z-index:10;
  position:absolute;
  top:20px;
  width:80px;
  height:80px;
  background-color:black;
  opacity:0.5;
  color: white;
}
#prev{left:0;}
#next{left:100px;}
#toggle{left:200px;}
#disable{left:300px;}

/*  Period styling */
.period{
  margin-top:1080px;
  background-color:white;
  padding:140px 0;
}
.period-content{
  font-family:'Droid Serif';
  font-size:18px;
  line-height:32px;
  width:600px;
  margin:0 auto 36px auto;
}

/*  Timeline line styling */
.timelineline {
  position: fixed;
  top: 50%;
  width:100%;
  transform:translate3d(0,-50%,0);
}

.timelineline-handle {
  position: absolute;
  top: 0;
  white-space: nowrap;
  font-size:0;
  left:0;
  
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;

  -moz-transition: -moz-transform 300ms linear, width 300ms linear;
  -o-transition: -o-transform 300ms linear, width 300ms linear;
  -webkit-transition: -webkit-transform 300ms linear, width 300ms linear;
  transition: transform 300ms linear, width 300ms linear;
}
.timelineline-handle.not-timelineline-handle-animating{
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.timelineline-slide {
  position: relative;
  display: inline-block;
  overflow:hidden;
}
.timelineline h2{
  margin: 0 0 0 100px;
  font-family: 'Dawning of a New Day';
  font-size: 70px;
  text-transform: lowercase;
  line-height: 70px;
  color: white;
  position:relative;
  overflow:visible;
  display:inline-block;
  font-weight:normal;

  -moz-transition:font-size 300ms linear, margin 300ms linear;
  -o-transition:font-size 300ms linear, margin 300ms linear;
  -webkit-transition:font-size 300ms linear, margin 300ms linear;
  transition: font-size 300ms linear, margin 300ms linear;
}
.timelineline.timelineline-min h2{
  font-size:40px;
  margin-left:0;
}
.timelineline h3{
  font-family: 'Montserrat';
  font-size: 18px;
  text-transform: lowercase;
  line-height: 24px;
   color: white;
   position:relative;
   overflow:visible;
   text-align:left;
   margin:0 0 0 100px;
   font-weight:bold;

 -moz-transition:margin 300ms linear;
  -o-transition:margin 300ms linear;
  -webkit-transition:margin 300ms linear;
  transition: margin 300ms linear;

}
.timelineline.timelineline-min h3{
  margin-left:0;
}

.timelineline h2::before{
  content:'';
  position:absolute;
  top:50px;
  right:100%;
  border-top:2px white solid;
  width:100px;
   -moz-transition:top 300ms linear;
  -o-transition:top 300ms linear;
  -webkit-transition:top 300ms linear;
  transition: top 300ms linear;
}
.timelineline h2::after{
  content:'';
  position:absolute;
  top:50px;
  left:100%;
  border-top:2px white solid;
  width:2000px;

   -moz-transition:top 300ms linear;
  -o-transition:top 300ms linear;
  -webkit-transition:top 300ms linear;
  transition: top 300ms linear;
}
.timelineline.timelineline-min h2::after{
  top:40px;
}
.timelineline.timelineline-min h2::before{
  top:40px;
}

/* Styling for clipthru script */
.timelineline.testclass-0 h2{
  color:black;
}
.timeline-content.testclass-0 h3{
  color:black;
}
.timeline-content.testclass-0 h2::before{
  border-top:2px black solid;
}
.timeline-content.testclass-0 h2::after{
  border-top:0px;
}