*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


@font-face {
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?2h4ajg');
	src:url('../fonts/feathericons/feathericons.eot?#iefix2h4ajg') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?2h4ajg') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?2h4ajg') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?2h4ajg#feathericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, 
body,
.js .container,
.js .dragslider,
.js .timeline-img-dragger .handle {
	height: 100%;
}

html.js,
.js body {
	overflow-x: hidden;
	position: relative;
}


.timeline-navigation{
	display: block;
	width: 100%;
	height: 50px;
	background-color: #333;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.timeline-navigation.hide{
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}


.timeline-arrow-navigation{
}

.timeline-arrow-navigation-arrow{
	position: absolute;
	top:50%;
	z-index: 100;
	text-decoration: none;
	color: #FFF;
	line-height: 30px;
	margin-top:-25px;
	padding:10px 10px;
}

.timeline-arrow-navigation-arrow-next{
	right:0;
}

.timeline-arrow-navigation-arrow-previous{
	left:0;
}

.dragslider{
	background-color: #333333;
}

.js .dragslider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.9s cubic-bezier(.7,0,.3,1);
	transition: transform 0.9s cubic-bezier(.7,0,.3,1);
}

.dragslider.show-content {
	-webkit-transform: translate3d(0,-75%,0);
	transform: translate3d(0,-75%,0);
}

.dragslider h2 {
	font-family: 'Dawning of a New Day';
	text-transform: lowercase;
	font-size: 70px;
	font-weight:normal;
	margin: 0 auto;
	line-height: 1;
	position: relative;
	display: inline;
}

.dragslider h2::before{
  content:'';
  position:absolute;
  top:50px;
  right:100%;
  border-top:2px white solid;
  width:100px;
}
.dragslider h2::after{
  content:'';
  position:absolute;
  top:50px;
  border-top:2px white solid;
  width:2000px;

}

.no-js .dragslider h2 {
	padding: 15px;
}

/* Switch button */
button.slider-switch {
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: lowercase;
	width: 184px;
	height: 50px;
	padding: 0;
	color: #000;
	position: relative;
	border: none;
	background-color:#ffefbe;
	float: right;
	outline: none;
	overflow: hidden;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: auto;
	z-index: 99;
}

button.slider-switch:after{
	content:'Bekijk tijdlijn';
}

.no-js button.slider-switch {
	display: none;
}

button.slider-switch.view-maxi:after {
	content:'Sluit tijdlijn';
}

button.slider-switch:hover {
	opacity: 1;
}

/* Dragger */
.timeline-img-dragger {
	position: relative;
	z-index: 100;
}

.js .timeline-img-dragger {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.js .timeline-img-dragger-large {
	width: 100%;
	height: 100%;
}

.js .timeline-img-dragger .handle {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	font-size: 0;
}

.no-js .timeline-img-dragger,
.no-js .timeline-img-dragger .handle {
	height: auto;
	position: relative;
	text-align: center;
	font-size: 0;
	clear: both;
	white-space: nowrap;
	overflow: auto;
}

.no-js .timeline-img-dragger .handle {
	padding: 40px 0 0;
}

.timeline-img-dragger .timeline-slide {
	display: inline-block;
	position: relative;
	height: 100%;
	background: #567076;
	font-size: 16px;
	white-space: normal;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

.no-js .timeline-img-dragger .timeline-slide {
	width: 300px;
	font-size: 7px;
	min-height: 200px;
}

.timeline-img-dragger .timeline-slide:active {
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.timeline-img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.timeline-img-wrap img {
	position: absolute;
	display: block;
	height: calc(100% + 0.2px);
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) translateZ(0);
	transform: translate(-50%, -50%) translateZ(0);
	left: 50%;
	top: 50%;
	-webkit-transition: -webkit-transform 0.9s cubic-bezier(.7,0,.3,1);
	transition: transform 0.9s cubic-bezier(.7,0,.3,1);
}

.show-content .timeline-img-wrap img{
	transform: translate(-50%, -25%);
}

@media screen and (min-aspect-ratio: 1280/850) {
    .timeline-img-dragger .timeline-img-wrap  img {
        width: calc(100% + 0.2px);
        height: auto;
    }
}

.js .timeline-slide h2 {
	color: #fff;
	position: absolute;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.timeline-slide h2 span{
	font-family: 'Montserrat';
	font-size: 18px;
	text-transform: lowercase;
	line-height: 24px;
	color: white;
	position:relative;
	overflow:visible;
	text-align:left;
	margin:0;
	font-weight:bold;
	position: absolute;
	right:0;
	bottom:-28px;
}

.js .timeline-img-dragger-large .timeline-slide h2 {
	left: 100px;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.timeline-img-dragger-small .timeline-slide h2 {
	font-size: 2.5em;
	padding-top: 1em;
	padding-bottom: 30px;
	top: 100%;
	width: 100%;
	text-align: left;
	color: #FFF;
	-webkit-animation: slideUpFade 0.4s 0s;
	overflow: hidden;
}

.timeline-img-dragger-small .timeline-slide h2 span {
	right:auto;
	left:0;
	bottom: 0;
}

.timeline-img-dragger-small .timeline-slide h2::before{
  top:64px;
}
.timeline-img-dragger-small .timeline-slide h2::after{
  top:64px;
}

@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

.timeline-img-dragger-small .timeline-slide h2 span {
	font-size: 0.35em;
}

.timeline-img-dragger-small .timeline-slide.current h2 {
	color: #fff;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;
}

.timeline-slide h2 i {
	font-style: normal;
	font-weight: 400;
}

button.content-switch {
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
	background: transparent;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	cursor: pointer;
	top: 100%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-200%,0);
	transform: translate3d(-50%,-200%,0);
	text-transform: lowercase;
	outline: none;
	z-index: 1000;
	opacity: 0.7;
	border:none;
}

.no-js button.content-switch {
	display: none;
}

button.content-switch:hover {
	opacity: 1;
}

.show-content .current button.content-switch {
	border-color: #c5d3d6;
	color: #c5d3d6;
	-webkit-transform: translate3d(-50%,100%,0);
	transform: translate3d(-50%,100%,0);
}

.show-content .current button.content-switch::before {
	content: '\e096';
}

.is-content-open .timeline-slide.current h2{
	-webkit-transition: top 0.9s cubic-bezier(.7,0,.3,1), color 0.3s linear 0s;
	transition: top 0.9s cubic-bezier(.7,0,.3,1), color 0.3s linear 0s;
}

.is-content-open.show-content .timeline-slide.current h2{
	-webkit-transition: top 0.9s cubic-bezier(.7,0,.3,1), color 0.3s linear 0.6s;
	transition: top 0.9s cubic-bezier(.7,0,.3,1), color 0.3s linear 0.6s;
}

.is-content-open .timeline-slide.current h2 span{
	-webkit-transition: color 0.3s linear 0s;
	transition: color 0.3s linear 0s;
}

.is-content-open.show-content .timeline-slide.current h2 span{
	-webkit-transition: color 0.3s linear 0.6s;
	transition: color 0.3s linear 0.6s;
}

.timeline-slide.current h2:after{
	-webkit-transition: width 0.3s cubic-bezier(.7,0,.3,1) 0.6s;
	transition: width 0.3s cubic-bezier(.7,0,.3,1) 0.6s;
}

.is-content-open .timeline-slide.current h2:before{
	-webkit-transition: border 0.3s cubic-bezier(.7,0,.3,1) 0s;
	transition: border 0.3s cubic-bezier(.7,0,.3,1) 0s;
}

.is-content-open.show-content .timeline-slide.current h2:before{
	-webkit-transition: border 0.3s cubic-bezier(.7,0,.3,1) 0.6s;
	transition: border 0.3s cubic-bezier(.7,0,.3,1) 0.6s;
}

.show-content .timeline-slide.current h2{
	top: 105%;
	color: #333;
}

.show-content .timeline-slide.current h2 span{
	color: #333;
}

.show-content .timeline-slide.current h2:before{
	border-top: 2px #333 solid;
}

.show-content .timeline-slide.current h2:after{
	width:0;
	-webkit-transition: width 0.3s cubic-bezier(.7,0,.3,1) 0s;
	transition: width 0.3s cubic-bezier(.7,0,.3,1) 0s;
}

/* Content */
.js .pages {
	position: absolute;
	top: 100%;
	height: 0;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.js .show-content .pages {
	-webkit-transition: none;
	transition: none;
	height: auto;
}

.pages .content {
	background: #dfe3e3;
	text-align: center;
	color: #545b61;
	font-size: 1.5em;
}

.js .pages .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.pages .content.show {
	height: auto;
	-webkit-transition: none;
	transition: none;
}

.pages .content h2 {
	font-size: 5em;
	max-width: 70%;
	color: #34495e;
	padding: 2.25em 10px 1em;
}

.no-js .pages .content h2 {
	padding-top: 1em;
}

.pages .content h2 span {
	color: #95a5a6;
}

.pages .content p {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.5em 2em;
	line-height: 1.5;
	text-align: left;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

.pages .content p:last-child {
	padding: 5em 1em 8em;
	text-align: center;
	font-weight: bold;
}

.pages .content a {
	color: #3c89d5;
	display: block;
}

.pages .content a:hover {
	color: #545b61;
}

/* Switch */
.switch-min .timeline-img-dragger-large .timeline-slide > *:not(.timeline-img-wrap),
.switch-max .timeline-img-dragger-small .timeline-slide > *:not(.timeline-img-wrap)  { /* fade out everything except image */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.switch-min .timeline-img-dragger-large,
.switch-max .timeline-img-dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.timeline-img-dragger-small button.content-switch {
	opacity: 0;
	pointer-events: none;
}

/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

@media screen and (max-width: 63.125em) {
	.dragslider h2 {
		font-size: 2.8em;
	}
	.pages .content {
		font-size: 100%;
	}
	.pages .content h2 {
		font-size: 3em;
	}
}

@media screen and (max-width: 650px) {
	button.slider-switch {
		display: none;
	}
}
