/*
 *	Colors file
 */

$color-white: #fff;
$color-gray: #333333;
$color-gray-light: #e7e3de;
$color-black:#000;
$color-green:#b7d7cc;
$color-yellow:#ffefbe;


$color-text-main:$color-gray;


$color-bg-image-caption:$color-white;
$color-border-image-caption:$color-gray-light;

$color-text-readmore-loadmore-link:$color-black;


$color-bg-period-read-odd:$color-green;
$color-bg-period-read-even:$color-yellow;

$color-bg-period-footer:$color-gray;